The following Concerns are identified
========================================== 
{% for vm in vms_concerns_report %}
Server Name: {{ vm.name }}
Concerns:
{% for cs in vm.concerns %}
  Label: {{ cs.label }}
  Category: {{ cs.category }}
  Assessment: {{ cs.assessment }}
  
{% endfor %}
{% endfor %}